// Post wrapper
.wrapper.post {
  @include media-query($on-mobile) {
    padding-left: $spacing-half;
    padding-right: $spacing-half;
  }
}

// Post title
.header {
  margin-top: 3em;
  margin-bottom: 3em;

  .tags {
    margin-left: 3px;
    letter-spacing: 0.5px;

    .tag {
      font-weight: $bold-weight;
      font-size: $small-font-size - 2;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .header-title {
    font-size: 2em;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 20px;

    &.center {
      text-align: center;
    }

    @include media-query($on-mobile) {
      font-size: 1.9em;
    }
  }
}

// Post meta
.post-meta {
  padding-top: 3px;
  line-height: 1.3;
  color: $gray;

  time {
    position: relative;
    margin-right: 1.5em;

    &::after {
      background: $light;
      bottom: 1px;
      content: " ";
      height: 2px;
      position: absolute;
      right: -20px;
      width: 12px;
    }
  }

  span[itemprop="author"] {
    border-bottom: 1px dotted $light;
  }
}

// Post content
.page-content {
  padding-top: 8px;

  iframe {
    text-align: center;
  }

  figure {
    img {
      border-radius: 2px;
    }
    .video {
      position: relative;
      width: 80%;
      padding-bottom: 45%;
      margin: auto;
      iframe {
        border-radius: 6px;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    figcaption {
      margin-top: 5px;
      font-style: italic;
      font-size: $small-font-size;
    }
    .special-container, .special-container-2{
      margin: auto;
      padding: 5%;
      width: 60%;
    }
    .special-container-2{
      width: 80%;
    }
    .special-img{
        width: 100%;
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
        transition: all 0.1s;
    }
  }

  a {
    color: $text-link-blue;
    text-decoration: none;
    &[target="_blank"]::after {
      content: " \2197";
      font-size: $small-font-size;
      line-height: 0;
      position: relative;
      bottom: 5px;
      vertical-align: baseline;
    }

    &:hover {
      color: $text-link-blue-active;
    }

    &:focus {
      color: $text-link-blue;
    }
  }

  > p {
    margin: 0;
    padding-top: $spacing-full - 15;
    padding-bottom: $spacing-full - 15;
  }

  ul.task-list {
    list-style: none; 
    margin: 0;

    li::before {
      content: "";
    }

    li input[type="checkbox"] {
      margin-right: 10px;
    }
  }

  dl dt {
    font-weight: $bold-weight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black;
    font-weight: $bold-weight;
    margin-top: $spacing-full;
    margin-bottom: 0;

    &:hover {
      .anchor-head {
        color: $text-link-blue;
        opacity: 1;
      }
    }

    .anchor-head {
      position: relative;
      opacity: 0;
      outline: none;

      &::before {
        content: "#";
        position: absolute;
        right: -3px;
        width: 1em;
        font-weight: $bold-weight;
      }
    }
  }

  h1 {
    @include relative-font-size(1.5);
  }

  h2 {
    @include relative-font-size(1.375);
  }

  h3 {
    @include relative-font-size(1.25);
    border-bottom: 1px solid $light;
    padding-bottom: 4px;
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1);
  }

  h6 {
    @include relative-font-size(0.875);
  }


  .title-image {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  .game-description {
    text-align: center;
  }
  .screenshot-list{
    display: flex;
    figure {
      padding:10px;
    }
  }

  .wave-player{
    div.error-txt{
      width: 100%;
      text-align: center;
    }
    text-overflow: ellipsis;
    white-space: nowrap;

    background-color: rgb(230,230,230);
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    div.audioTrack{
      flex-direction: row;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      div.audioCanvasDiv{
        display: flex;
        margin: 0px;
        width: 100%;
        height: 100%;
        canvas {
          cursor: pointer;
          margin: 0px;
          width: 100%;
          height: 100%;
          min-height: 60px;
          max-height: 150px;
          color: black;
          --active-color: #ff6600;
          --temp-color: #ffa365;
          --current-color: #ff1100;
          background-color: rgba(0,0,0,0);
          overflow: hidden;
          -webkit-tap-highlight-color: transparent;
        }
      }
      div{
        display: flex;
        margin: auto;
        small {
          width: 60px;
          max-width: 60px;
          text-align: center;
          white-space: nowrap;
          font-size: $small-font-size - 2;
          color: $gray;
          opacity: 0.8;
          -webkit-user-select:none;
          -moz-user-select:none;
          -ms-user-select:none;
          user-select:none
        }
      }
    }
    div.audioButtonDiv{
      margin-top: auto;
      margin-bottom: auto;
      flex-direction: row;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      button {
        padding: 10%;
        img.buttonIcon {
          --img-file-play: play-solid.svg;
          --img-file-pause: pause-solid.svg;
          width: 100%;
          height: 100%;
          fill: black;
          opacity: 70%;
        }
        cursor: pointer;
        margin-left: 10px;
        background-color: rgb(230,230,230);
        font-size: 0px;
        border: none;
        padding: 0px;
        min-width: 30px;
        min-height: 30px;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
}

.post-nav {
  display: flex;
  position: relative;
  margin-top: 5em;
  border-top: 1px solid $light;
  line-height: 1.4;
  padding-bottom: 100px;

  .post-nav-item {
    border-bottom: 0;
    font-weight: $bold-weight;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;

    .post-title {
      transition: all 0.2s ease-in-out;
      letter-spacing: 0em;
      color: $black;
    }

    &:hover,
    &:focus {
      .post-title {
        color: $text-link-blue-active;
        opacity: 0.9;
        letter-spacing: 0.1em;
      }
    }

    .post-nolonger {
      color: #808080;
    }

    .nav-arrow {
      font-weight: $normal-weight;
      font-size: $small-font-size;
      color: $gray;
      margin-bottom: 3px;
    }

    width: 50%;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;

    &:nth-child(odd) {
      padding-left: 0;
      padding-right: 20px;
    }

    &:nth-child(even) {
      text-align: right;
      padding-right: 0;
      padding-left: 20px;
    }
  }

  @include media-query($on-mobile) {
    display: block;
    font-size: $small-font-size;

    .post-nav-item {
      display: block;
      width: 100%;
    }

    .post-nav-item:nth-child(even) {
      border-left: 0;
      padding-left: 0;
      border-top: 1px solid $light;
    }
  }
}

.post-updated-at {
  font-family: "Ubuntu mono", "monospace";
}