<nav class="post-nav">
  {% assign currentpage = page %}
  {% for i in (1..50) %}
    {% assign currentpage = currentpage.previous %}
    {% if currentpage %}
      {% if currentpage.tag != page.tag %}
        {% continue %}
      {% endif %}
      <a class="post-nav-item post-nav-prev" href="{{ currentpage | relative_url }}">
        <div class="nav-arrow">Previous</div>
        <span class="post-title">{{ currentpage.title }}</span>
      </a>
      {% break %}
    {% else %}
      <a class="post-nav-item post-nav-prev">
        <div class="nav-arrow">The page no longer exists.</div>
        <span class="post-nolonger">x</span>
      </a>
      {% break %}
    {% endif %}
  {% endfor %}
  
  {% assign currentpage = page %}
  {% for i in (1..50) %}
    {% assign currentpage = currentpage.next %}
    {% if currentpage %}
      {% if currentpage.tag != page.tag %}
        {% continue %}
      {% endif %}
      <a class="post-nav-item post-nav-next" href="{{ currentpage | relative_url }}">
        <div class="nav-arrow">Next</div>
        <span class="post-title">{{ currentpage.title }}</span>
      </a>
      {% break %}
    {% else %}
      <a class="post-nav-item post-nav-prev">
        <div class="nav-arrow">The page no longer exists.</div>
        <span class="post-nolonger">x</span>
      </a>
      {% break %}
    {% endif %}
  {% endfor %}
</nav>